<web-app>
<servlet>
<servlet-name>mySignin</servlet-name>
<servlet-class>Signin</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>mySignin</servlet-name>
<url-pattern>/signin</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>mySignup</servlet-name>
<servlet-class>Signup</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>mySignup</servlet-name>
<url-pattern>/signup</url-pattern>
</servlet-mapping>

</web-app>